.example-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.example-header-image {
  background-color: #3f51b5;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* .mat-paginator-container {
  justify-content: center;
} */
